/* Navbar */
.navbar{
    max-height: 57px; 
  }
  .navigation .navbar-brand{
    color: white; 
    margin-left: 30px; 
    padding: inherit; 
    font-weight: bold; 
    background-color: #0065cb;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar{
    background-color: white; 
    font-size: 15px; 
  }

  .active, .dropdown-menu .dropdown-item:active a:hover{
    background-color:#E7E7E7; 
  }

  .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: #0065cb;
  }

  .nav-link:hover{
    background-color: #0065cb;
    
  }

  /* Body*/
  body {
    background-color: #ededed;
  }

  /* Title Class*/
  .title {
    color: #0065cb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    padding-top: 25px;
  }


  /* Paragraph */
  p {
    color: black;
    font-size: 16;
  }

/* Box Class */
.box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: white; 
  
  }

  /* Images */
img{
    width:100%;
    height:100%;
    
  }

  .active, .panel:hover{
    border-color:#0065cb;
    border-style: solid;
  }

  .vizualization{
    width:50%;
    height:50%;
  }
/* Footer */
footer {
  background-color: #666666;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: #0065cb;
  color: white;
  min-height: 10px;
  font-family: cursive;
  font-size: 12px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 1px;

}

/* Table*/
.table {
  font-size: 15px;
  border-top-color: white;
}

  /* Media Queries */
@media(max-width: 992px){
    .navbar-expand-lg{
    background-color: #0065cb;
    }
    .navbar{
      max-height: none; 
      padding: inherit;
    }
    .navbar div{
      margin: inherit; 
      background-color: white;  
    }
    .navbar-brand{
      padding: 10px; 
    }

    button{
        margin-right: 30px; 
      }
    button:focus {

        outline: 1px dotted;
        outline: 5px auto -webkit-focusring-color;               
      }
    }

    /* Dropdown Button */
.dropbtn {
  background-color: #0065cb;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #0065cb;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 2;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.container {
  background-color: white;
}

html,
body,
#map {
  width: 100%;
  z-index: 1;
}

html,
body,
#map2 {
  width: 100%;
  z-index: 1;
}
/* Chart.js style */
.container {
  background-color: white;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.chartMenu {
  width: 100vw;
  height: 40px;
  background: #1A1A1A;
  color: rgba(255, 26, 104, 1);
}
.chartMenu p {
  padding: 10px;
  font-size: 20px;
}
.chartCard {
  width: 100vw;
  height: calc(100vh - 40px);
  background: rgba(255, 26, 104, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  width: 700px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(255, 26, 104, 1);
  background: white;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}