<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid19-Cases-Deaths</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CSS Link-->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- d3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin="" />

    <link rel="shortcut icon" href="#" />

</head>
<body id="data">
  <!-- Navigation Section -->
  <div class="navigation">      
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">Covid-19 Dashboard</a>            
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
         aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               More Covid-19 Data
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="https://covid.cdc.gov/covid-data-tracker/#datatracker-home">CDC Covid-19 Data</a>
              <a class="dropdown-item" href="https://covid19.who.int/">WHO Covid-19 Data</a>
            </div>
          </li>
        </ul>
      </div>            
                  
    </nav>  

  </div> 
  <!-- Content Section-->
  <div class="container">
    <div class="box">
      <h3 class="title">  Covid-19 Cases & Deaths in the United States
      </h3> 
        <div class="dropdown">
          <button onclick="myFunction(1)" class="dropbtn">View</button>
          <div id="myDropdown1" class="dropdown-content">
            <a href="Cases.html">Cases</a>
            <a href="Deaths.html">Deaths</a>
          </div>
        </div>
      <hr>
      <!-- The div that holds our map -->
      <div id="map" style="height: 600px"></div> 
    </div>


      <div class="box">
        <h4 class="title">Global Counts of Covid-19 Cases & Deaths
        </h4>
      
        <div class="button text-left">
          <p><a class="btn btn-primary btn-small" href="/Global_Covid19_Data"
              role="button">View Global Covid-19 Data Here</a></p>
        </div>
      
      </div>
        
        <div class="box">
          <h4 class="title">Covid-19 Vaccinations in the United States
          </h4>  
          <div class="dropdown">
            <button onclick="myFunction(2)" class="dropbtn">Views</button>
            <div id="myDropdown2" class="dropdown-content">
              <a href="Vaccine-Administered.html">Total Doses Administered</a>
              <a href="Vaccine-Distributed.html">Total Doses Distributed</a>
            </div>
          </div> 
          <hr>
          <!-- The div that holds our map -->
          <div id="map2" style="height: 600px"></div> 
        </div> 
      
      <br>
      <!-- <div class="table-responsive" style="overflow-x: auto; overflow-y: auto; 
        max-height: 470px; max-width: auto;">
      </div> -->
  
      <!-- The div that holds the bar charts-->
      <!-- <div class="chartMenu">
        <p>Covid 19 Bar Charts</p>
      </div> -->
      <!--Chart Section-->
      <div class="chartCard">
        <div class="chartBox">
          <canvas id="Covid_Vaccicne_Devlivered_by_type"></canvas>
        </div>
        <div class="chartBox">
          <canvas id="Covid_Vaccine_Admin_by_type"></canvas>
        </div>
        <!-- <div class="chartBox">
          <canvas id="Number_people_vaccinated_us"></canvas>
        </div> -->
      </div>
  </div>

  <div class="container">


  </div>

  <!-- Footer Section -->
  <footer>
  <div class="footer">&copy; Copyright 2022</div>
  </footer>      

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="static/js/dropdownbutton.js"></script>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

  <!-- leaflet script -->
  <script type="text/javascript" src="static/js/logic.js"></script>
<!-- chart.js script/data -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  // setup 
  const delivered_vaccine_data = {
    labels: ['Pfizer-BioNTech', 'Moderna', 'J&J/Janssen', 'Other'],
    datasets: [{
      label: 'Delivered Vaccines by Type',
      data: [445134235, 282063620, 282063620, 0],
      backgroundColor: [
        'rgba(255, 26, 104, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(0, 0, 0, 0.2)'
      ],
      borderColor: [
        'rgba(255, 26, 104, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(0, 0, 0, 1)'
      ],
      borderWidth: 1
    }]
  };
  const administrated_vaccine_data = {
    labels: ['Pfizer-BioNTech', 'Moderna', 'J&J/Janssen', 'Other'],
    datasets: [{
      label: 'Administered Vaccines by Type',
      data: [349460399, 223409934, 18811735, 587184],
      backgroundColor: [
        'rgba(255, 26, 104, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(0, 0, 0, 0.2)'
      ],
      borderColor: [
        'rgba(255, 26, 104, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(0, 0, 0, 1)'
      ],
      borderWidth: 1
    }]
  };
  const number_people_vaccinated_us_data = {
    labels: ['Pfizer-BioNTech', 'Moderna', 'J&J/Janssen', 'Other'],
    datasets: [{
      label: 'Number of people vaccinated in US',
      data: [127603112, 77129172, 17026792, 165076],
      backgroundColor: [
        'rgba(255, 26, 104, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(0, 0, 0, 0.2)'
      ],
      borderColor: [
        'rgba(255, 26, 104, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(0, 0, 0, 1)'
      ],
      borderWidth: 1
    }]
  };

  // config 
  const config = {
    type: 'bar',
    data: delivered_vaccine_data,
    options: {
        scales: {
            y: {
                title: {
                    display: true,
                    text: 'Vaccine Types'
                }
            },
            x:{
                title: {
                    display: true,
                    text: 'Amount Delivered'
                }
            }
        },
        indexAxis: 'y',
        elements: {
            bar: {
                borderWidth: 2,
            }
        },
        responsive: true,
        plugins:{
            legend: {
              display: false
            },
            title: {
              display: true,  
              text: 'U.S. COVID-19 Vaccine Administration by Vaccine Type'
            }
        }

    }
  };
  const config2 = {
    type: 'bar',
    data: administrated_vaccine_data,
    options: {
      scales: {
            y: {
                title: {
                    display: true,
                    text: 'Vaccine Types'
                }
            },
            x:{
                title: {
                    display: true,
                    text: 'Amount Administered'
                }
            }
        },
        indexAxis: 'y',
        elements: {
            bar: {
                borderWidth: 2,
            }
        },
        responsive: true,
        plugins:{
            legend: {
              display: false
            },
            title: {
              display: true,  
              text: 'U.S. COVID-19 Vaccine Delivered by Vaccine Type'
            }
        }

      
    }
  };
  const config3 = {
    type: 'bar',
    data: number_people_vaccinated_us_data,
    options: {
      scales: {
            y: {
                title: {
                    display: true,
                    text: 'Vaccine Types'
                }
            },
            x:{
                title: {
                    display: true,
                    text: 'Amount of People Vaccinated'
                }
            }
        },
        indexAxis: 'y',
        elements: {
            bar: {
                borderWidth: 2,
            }
        },
        responsive: true,
        plugins:{
            legend: {
                position: 'right'
            },
            title: {
              display: true,  
              text: 'Number of People vaccinated in the US'
            }
        }
      
    }
  };

  // render first block
  const Covid_Vaccicne_Devlivered_by_type = new Chart(
    document.getElementById('Covid_Vaccicne_Devlivered_by_type'),
    config
  );
  //render second block
  const Covid_Vaccine_Admin_by_type = new Chart(
    document.getElementById('Covid_Vaccine_Admin_by_type'),
    config2
  );
  const Number_people_vaccinated_us = new Chart(
    document.getElementById('Number_people_vaccinated_us'),
    config3
  );
  
   </script>
</body>
</html>
