<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Covid Situation</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
    <body>
    </div> 
    <!-- Content Section-->
          <div class="container">
            <div class="box">
              <h3 class="title">  Vaccination Details in United States
              </h3>
              <hr>
              <p>
                
              </p>
              <br>
              <div class="table-responsive" style="overflow-x: auto; overflow-y: auto; 
                max-height: 470px; max-width: auto;">
    
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th></th>
                <th>At Least One Dose</th>
                <th>Count</th>
                <th>US Population in Percent</th>
                <th>Fully Vaccinated People</th>
                <th>Count</th>
                <th>US Population in Percent</th>

            </tr>
            <tr>
                <td></td>
                <td>Total</td>
                <td>259,426,758</td>
                <td>78.1%</td>
                <td>Total</td>
                <td>221,123,223</td>
                <td>83%</td>

            </tr>
            <tr>
                <td></td>
                <td>Atleast_one_dose_greater_5</td>
                <td>259,285,069</td>
                <td>78.1%</td>
                <td>Fully_vaccinated_greater_5</td>
                <td>220,050,422</td>
                <td>71.1%</td>

            </tr>
            <tr>
                <td></td>
                <td>Atleast_one_dose_greater_12</td>
                <td>248,843,037</td>
                <td>87.8%</td>
                <td>Fully_vaccinated_greater_12</td>
                <td>213,535,089</td>
                <td>75.3%</td>

            </tr>
            <tr>
                <td></td>
                <td>Atleast_one_dose_greater_18</td>
                <td>231,187,240</td>
                <td>89.5%</td>
                <td>Fully_vaccinated_greater_18</td>
                <td>57,126,309</td>
                <td>95%</td>

            </tr>
            <tr>
                <td></td>
                <td>Atleast_one_dose_greater_65</td>
                <td>231,187,240</td>
                <td>89.5%</td>
                <td>Fully_vaccinated_greater_65</td>
                <td>50,093,805</td>
                <td>91.4%</td>

            </tr>
        </table>

    </body>
</html